In [1]:
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

import sklearn.preprocessing
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, plot_confusion_matrix, ConfusionMatrixDisplay

import wrangle as w
import model as m
import explore as e
from env import get_db_url

In [2]:
raw_data = w.get_telco_data()

In [3]:
raw_data.head()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type_id,online_security,...,device_protection,tech_support,streaming_tv,streaming_movies,contract_type_id,paperless_billing,payment_type_id,monthly_charges,total_charges,churn
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,1,No,...,No,Yes,Yes,No,2,Yes,2,65.6,593.3,No
1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,1,No,...,No,No,No,Yes,1,No,2,59.9,542.4,No
2,0004-TLHLJ,Male,0,No,No,4,Yes,No,2,No,...,Yes,No,No,No,1,Yes,1,73.9,280.85,Yes
3,0011-IGKFF,Male,1,Yes,No,13,Yes,No,2,No,...,Yes,No,Yes,Yes,1,Yes,1,98.0,1237.85,Yes
4,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,2,No,...,No,Yes,Yes,No,1,Yes,2,83.9,267.4,Yes

In [4]:
clean_data = w.prep_telco_data(raw_data)

In [5]:
train_df, validate_df, split_df = w.split_telco_data(clean_data)

### Over all Churn rate

In [ ]:
m.churn_pie(train_df)

### Family Groupings

In [10]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3943 entries, 3658 to 1617
Data columns (total 38 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   customer_id            3943 non-null   object
 1   gender                 3943 non-null   object
 2   senior_citizen         3943 non-null   int64
 3   partner                3943 non-null   object
 4   dependents             3943 non-null   object
 5   tenure                 3943 non-null   int64
 6   phone_service          3943 non-null   object
 7   multiple_lines         3943 non-null   int64
 8   internet               3943 non-null   int64
 9   online_security        3943 non-null   int64
 10  online_backup          3943 non-null   int64
 11  device_protection      3943 non-null   int64
 12  tech_support           3943 non-null   int64
 13  streaming_tv           3943 non-null   int64
 14  streaming_movies       3943 non-null   int64
 15  contract_type_id       3943 non-null   int64
 16  paperless_billing      3943 non-null   object
 17  payment_type_id        3943 non-null   int64
 18  monthly_charges        3943 non-null   float64
 19  total_charges          3938 non-null   float64
 20  churn                  3943 non-null   object
 21  charge_bins            3943 non-null   category
 22  single_house           3943 non-null   bool
 23  dual_house             3943 non-null   bool
 24  family_house           3943 non-null   bool
 25  single_head_house      3943 non-null   bool
 26  single_house           3943 non-null   bool
 27  dual_house             3943 non-null   bool
 28  family_house           3943 non-null   bool
 29  single_head_house      3943 non-null   bool
 30  gender_Male            3943 non-null   uint8
 31  partner_Yes            3943 non-null   uint8
 32  dependents_Yes         3943 non-null   uint8
 33  phone_service_Yes      3943 non-null   uint8
 34  paperless_billing_Yes  3943 non-null   uint8
 35  churn_Yes              3943 non-null   uint8
 36  ihs                    3943 non-null   int64
 37  ooss                   3943 non-null   int64
dtypes: bool(8), category(1), float64(2), int64(14), object(7), uint8(6)
memory usage: 797.3+ KB

### Service Groupings

### Out Of Sight Services

### Charge Bins Compared to the Number of Out Of Sight Services

### Charge Bins Compared to Churn Rate