In [1]:
import pandas as pd
import seaborn as sns
from pydataset import data
import numpy as np
import os

import wrangle as w
from env import get_db_url

#turn off pink warning boxes
import warnings
warnings.filterwarnings("ignore")
import prepare
import exlore

In [2]:
# summons data from SQL into dataframe, no alterations. 
df = pd.read_sql('SELECT * FROM customers', get_db_url('telco_churn'))

In [ ]:
df = prepare.prep_frame(df)

In [ ]:
prepare.feature_group_df(df)

In [ ]:
df.head(50)

Exploring data:

In [ ]:
df.info()

### How do i want to clean the data?
- what i dont think I'll need but will leave on until the end: (customer_id, gender, senior_citizen, paperless_billing, payment_type_id)
- convert total_charges to int
- convert monthly charges to int
- what to convert to binary: (partner, dependents, phone_service, multiple_lines, online_security, device_protection, tech_support, streaming_tv, streaming_movies, paperless_billing, churn)

In [ ]:
# create a function to convert total charges and monthly charges to int and get dummies for binary replacements

In [ ]:
df.info()

In [ ]:
df.total_charges

In [ ]:

# code that needs to go into a function for prepping data:
df['total_charges'].str.replace(' ', '')
df['total_charges'] = pd.to_numeric(df['total_charges'], errors = 'coerce')
# code to rename internet services to internet
df.rename(columns = {'internet_service_type_id': 'internet'}, inplace = True)
# df.info() should reveal total_charges as float

In [ ]:
df.head()

In [ ]:
# code that deals with(yes/no/neither)
df['multiple_lines']= df.multiple_lines.map({'Yes':1, 'No':0, 'No phone service': 0})
df['internet'] = df.internet.map({1:1, 2:1, 3: 0})
df['online_security'] = df.online_security.map({'Yes':1, 'No':0, 'No internet service': 0})
df['device_protection'] = df.device_protection.map({'Yes':1, 'No':0, 'No internet service': 0})
df['tech_support'] = df.tech_support.map({'Yes':1, 'No':0, 'No internet service': 0})
df['streaming_tv'] = df.streaming_tv.map({'Yes':1, 'No':0, 'No internet service': 0})
df['streaming_movies'] = df.streaming_movies.map({'Yes':1, 'No':0, 'No internet service': 0})
df['online_backup'] = df.online_backup.map({'Yes':1, 'No':0, 'No internet service': 0})
df.head()

In [ ]:
#code that deals with (yes/no)
dummy_df = pd.get_dummies(df[['gender', 'partner', 'dependents', 'phone_service', 'paperless_billing', 'churn']], dummy_na = False, drop_first = True)

In [ ]:
dummy_df.head(11)

In [ ]:
df = pd.concat([df, dummy_df], axis = 1)

In [ ]:
df['in_hand_services'] = df.streaming_movies + df.streaming_tv + df.multiple_lines + df.phone_service_Yes + df.internet

In [ ]:
df['out_of_sight_services'] = df.online_security + df.online_backup + df.device_protection + df.tech_support

In [ ]:
df.head()

In [ ]:
df.head(11)

In [ ]:
df.streaming_tv.value_counts()

In [ ]:
df_2 = df

In [ ]:
df_single = df[(df.dependents == 'No') & (df.partner == 'No')]

In [ ]:
df_single.head()

In [ ]:
df_dual = df[(df.dependents == 'No') & (df.partner == 'Yes')]
df_dual.head()

In [ ]:
df_family = df[(df.dependents == 'Yes') & (df.partner == 'Yes')]
df_family.head()

In [ ]:
df_single_head = df[(df.dependents == 'Yes') & (df.partner == 'No')]
df_single_head.head()

# data exploration with family size vs churn

In [ ]:
df_2.head()

In [ ]:
#add internet service type, multiple lines, streaming tv, streaming movies, phone_service_Yes as IN-HAND

In [ ]:
# add tech_support, device_protection, online_backup, online_secuirty as OUT-OF-SIGHT

In [ ]:
df_2.head()

In [ ]:
df_2.drop(columns = ['gender', 'partner', 'dependents', 'phone_service','senior_citizen', 'contract_type_id','paperless_billing'], inplace = True)

In [ ]:
df_2.head()

In [ ]:
df_3 = df_2

In [ ]:
df_3.head()

In [ ]:
df_3.info()

In [ ]:
df_3['in_hand_services'] = (df_3.streaming_movies + df_3.streaming_tv + df_3.multiple_lines + df_3.phone_service_Yes + df_3.internet)

In [ ]:
df_3.head()

In [ ]:
df_3['out_of_sight_services'] = df_3.online_security + df_3.online_backup + df_3.device_protection + df_3.tech_support

In [ ]:
df_3.head()

In [ ]:
df_3[df_3.out_of_sight_services > df_3.in_hand_services].churn.count()

In [ ]:
df_3[df_3.in_hand_services > df_3.out_of_sight_services].churn.count()

In [ ]:
df_3.churn.value_counts(normalize=True)

In [ ]:
#subset the data, make it look how i want it to look and then do value counts
df_3.churn[df_3.in_hand_services > 2].count()

In [ ]:
df.churn.value_counts(normalize=True)

# testing dataframes

In [3]:
df = prepare.prep_frame(df)

In [4]:
prepare.feature_group_df(df)

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet,online_security,...,total_charges,churn,gender_Male,partner_Yes,dependents_Yes,phone_service_Yes,paperless_billing_Yes,churn_Yes,in_hand_services,out_of_sight_services
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,0,1,0,...,593.30,No,0,1,1,1,1,0,3,2
1,0003-MKNFE,Male,0,No,No,9,Yes,1,1,0,...,542.40,No,1,0,0,1,0,0,4,0
2,0004-TLHLJ,Male,0,No,No,4,Yes,0,1,0,...,280.85,Yes,1,0,0,1,1,1,2,1
3,0011-IGKFF,Male,1,Yes,No,13,Yes,0,1,0,...,1237.85,Yes,1,1,0,1,1,1,4,2
4,0013-EXCHZ,Female,1,Yes,No,3,Yes,0,1,0,...,267.40,Yes,0,1,0,1,1,1,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9987-LUTYD,Female,0,No,No,13,Yes,0,1,1,...,742.90,No,0,0,0,1,0,0,2,2
7039,9992-RRAMN,Male,0,Yes,No,22,Yes,1,1,0,...,1873.70,Yes,1,1,0,1,1,1,4,0
7040,9992-UJOEL,Male,0,No,No,2,Yes,0,1,0,...,92.75,No,1,0,0,1,1,0,2,1
7041,9993-LHIEB,Male,0,Yes,Yes,67,Yes,0,1,1,...,4627.65,No,1,1,1,1,0,0,3,3
7042,9995-HOTOH,Male,0,Yes,Yes,63,No,0,1,1,...,3707.60,No,1,1,1,0,0,0,3,3